*{
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #f4f3f2;
}

.navbar {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: black 1px solid;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.web-name {
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 600;
}

#logo-img {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
}

.nav-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav-elements a {
  font-size: 15px;
  font-weight: 550;
  letter-spacing: 3px;
  transition: transform 0.3s ease-in-out;
}

.nav-elements .home {
  color: #886a4b;
  font-size: 22px;
  font-weight: bold;
  padding-right: 15px;
}

.nav-elements a:hover {
  text-shadow: 1px 1px 1px white;
  color: #d3a272;
  transform: scale(1.1);
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.dktk {
  padding-top: 50px;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: rgb(140, 140, 140) 1px 1px 10px;  
}

#or-log{
  font-size: 18px;
  font-weight: 600;
  align-self: flex-end;
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  width: 100%;
}

.form-group input {
  width: 100%;
  height: 40px;
  border: none;
  border: 1px solid black;
  margin-top: 10px;
  font-size: 20px;
  padding-left: 10px;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  background: #b58c63;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

input::placeholder {
  font-size: 16px; /* Change font size to 16px */
}

.check-create {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between  ;
  align-items: center;
  font-size: 20px;
  gap: 10px;
}

.agreed {
  font-size: 20px;
  font-weight: 500;
}

#agreed {
  top: 4px;
}


.create-account {
  font-size: 25px;
  font-weight: 600;
  color: #b58c63;
}

.check{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-style: italic;
  font-weight: 300;
}

.create-account{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 560;
  background-color: white;
  color: black;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid black;  
  text-align: center;
  text-shadow: rgb(140, 140, 140) 1px 1px 3px;  
}

.google-signup {
  font-size: 20px;
  background-color: #d1c8c1;
  color: #86654b;
  border: 2px solid black;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
  margin-top: 30px;
  font-weight: bold;
}

input[type="checkbox"] {
  transform: scale(1.5); /* Increases the size of the checkbox */
}

.khanh {
  padding-top: 30px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.input-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.p-info {
  padding-top: 20px;
}

input::placeholder {
  margin: 0;
  padding: 0;
  text-align: start; 
  vertical-align: auto; 
}

.input-group input::placeholder {
  display: flex;
  font-size: 18px;
}
.input-pin input {
  width: 500px;
  height: 30px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 20px;
  text-align: left; /* Start text at the left of the box */
  line-height: 40px;
  font-size: 16px; /* Set font size to 16px */
}

.arrow {
  padding: 30px;
  padding-right: 90px;
  align-self: flex-end; 
  width: 120px; 
  height: 30px; 
}

.arrow img {
  transition: transform 0.3s ease-in-out;
  width: 100%; 
  height: 100%; 
}

.arrow img:hover {
  transform: scale(1.1)
}

.question-container {
  width: 100%;
  padding-top: 25px;
  padding-left: 90px;
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  box-sizing: border-box;
}

.title {
  font-size: 40px;
  font-weight: 550;
}

.question-group{
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.big-text-group {
  width:  100%;
}
.question {
  font-size: 25px;
  font-weight: 570;
}

textarea.big-text {
  width: 100%;
  height: 140px;
  margin: 20px;
  margin-top: 30px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  border: none;
  text-align: left;
  vertical-align: top;
}

.choices {
  margin-left: 20px;
  gap: 300px; 
}

.choice {
  font-size: 25px;
  font-weight: 550;
  padding-left: 5px;
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-VariableFont_wght.ttf);
}
input[type="radio"] {
  transform: scale(1.5); /* Increases the size of the radio button */
  background-color: rgb(227, 227, 227); /* Sets the background color to white when not checked */
  appearance: none; /* Removes default styling */
  border-radius: 50%; /* Makes it circular */
  width: 12px; /* Sets width */
  height: 12px; /* Sets height */
  display: inline-block; /* Ensures it displays inline */
  position: relative; /* Allows positioning of the inner circle */
  top: -3px; /* Moves the checkbox up by 3px */
  cursor: pointer; /* Adds pointer cursor */
}

input[type="radio"]:checked::before {
  content: '';
  display: block;
  width: 12px; /* Inner circle width */
  height: 12px; /* Inner circle height */
  background-color: gray; /* Sets the background color to gray when checked */
  border-radius: 50%; /* Makes the inner circle circular */
  position: absolute; /* Positions it within the outer circle */
}

input[type="checkbox"] {
  transform: scale(1.5); /* Increases the size of the checkbox */
  background-color: rgb(206, 206, 206); /* Sets the background color to white when not checked */
  appearance: none; /* Removes default styling */
  width: 12px; /* Sets width */
  height: 12px; /* Sets height */
  display: inline-block; /* Ensures it displays inline */
  position: relative; /* Allows positioning of the checkmark */
  top: -3px; /* Moves the checkbox up by 3px */
}

input[type="checkbox"]:checked::before {
  font-size: 12px;
  content: '✓';
  display: block;
  width: 12px; /* Checkmark width */
  height: 12px; /* Checkmark height */
  color: white; /* Sets the checkmark color */
  background-color: gray; /* Sets the background color to gray when checked */
  text-align: center; /* Centers the checkmark */
  line-height: 12px; /* Centers the checkmark vertically */
  position: absolute; /* Positions it within the checkbox */
  top: calc(50%); /* Aligns it to the center vertically and moves it up 8px */
  left: 50%; /* Aligns it to the center horizontally */
  transform: translate(-50%, -50%); /* Centers the checkmark */
}

/* Additional styling for checkboxes */
input[type="checkbox"]:hover {
  border-color: #b58c63; /* Changes border color on hover */
}

input[type="checkbox"]:focus {
  outline: 2px solid #b58c63; /* Adds an outline when focused */
}

input[type="checkbox"]:disabled {
  background-color: #e0e0e0; /* Changes background color when disabled */
  border-color: #a0a0a0; /* Changes border color when disabled */
  cursor: not-allowed; /* Changes cursor to not-allowed when disabled */
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url(../images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content-box {
  margin-top: 30px;
  background-color: #2d272530;
  color:white;
  width: 1200px;
  height: 550px;
  box-sizing: border-box;
}

.test-question-container {
  padding-top: 80px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.test-question-container .title {
  align-self: flex-start;
}

.click {
  background-color: #aba295;
  color: white;
  width: 480px;
  height: 80px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  border: 3px solid black;
  border-radius: 40px;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.2s ease-in-out
}

.click:hover {
  transform: scale(1.1);
}

.description {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
  align-self: flex-start;
}

.content-box .question-group .choice-group {
  height: 40px;
}

.content-box .question-group .choice-group input[type="checkbox"] {
  background-color: #ffffff; /* Sets the background color to white when not checked */
}

.congrats {
  font-size: 25px;
  font-weight: 600;
  color: white;
  background-color: #aba295;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  letter-spacing: 1px;
}

.congrats-next {
  margin-top: 20px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: black;
  background-color: #e0e2e0;
  width: 400px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid black;
  transition: transform 0.3s ease-in-out;
}

.congrats-next:hover {
  transform: scale(1.1);
  background-color: #aba295;
  color: white;
}


.congrats-next:first-of-type {
  margin-top: 50px;
}

.game-start {
  background-image: url(../images/background-mock.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  gap: 50px;
  box-sizing: border-box;
}

.game-start a {
  color: white;
}

.game-start .game-text{
  padding-right: 190px;
}


.game-start .game-text,
.game-start .start-box {
  font-size: 45px;
  font-weight: 600;
  box-sizing: border-box;
}

.game-start .start-box{
  width: 450px;
  height: 60px;
  border: 3px solid white;
  border-radius: 50px;
  text-align: center;
  margin-right: 25px;
  transition: transform 0.3s ease-in-out;
}

.game-start .start-box:hover {
  transform: scale(1.1);
  background-color: #aba295;
}

.game-choose {
  background-image: url(../images/background_choose.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.career-choice {
  width: 300px;
  height: 40px;
  padding-bottom: 5px;
  border: 3px solid white;
  border-radius: 50px;
  text-align: center;
  margin-right: 25px;
  font-size: 35px;
  font-weight: 600;
  transition: transform 0.3s ease-in-out; 
}

.game-choose a {
  color: white;
}

#main-choice {
  margin-bottom: 210px;
  width: 430px;
  height: 55px;
  font-size: 50px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 6px 3px white;
}

.career-choice {
  margin-top: 30px;
}

.career-choice:hover {
  transform: scale(1.1);
}

.tt {
  background-image: url(../images/22.jpg);
  background-size: cover;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.tt .arrow {
  position: absolute;
  top: 570px;
}

.tth {
  background-image: url(../images/23.png);
  background-size: 100% 100%; /* Stretches the image to fit the body */
  background-position: center;
  background-repeat: no-repeat;
}

.tth #done {
  font-size: 20px;
  font-weight: 600;
  background-color: #d1c8c1;
  border: 2px solid black;
  position: absolute;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  top: 600px;
  left: 1150px;
  transition: transform 0.3s ease-in-out;
}

.tth #done:hover,
#uniq-box #done:hover {
  transform: scale(1.1);
  background-color: #e7ded3;
  color: white;
}

.int-question {
  background-image: url(../images/background2.jpg);
  background-size: 100% 100%; /* Stretches the image to fit the body */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.overlay {
  background-color: black;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}

#uniq-box {
  margin-top: 15px;
  border-radius: 50px;
  background-color: #262344;
  padding: 20px;
  padding-top: 60px;
  margin-bottom: 100px;
  font-size: 32px;
  line-height: 34px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#uniq-box #done {
  font-size: 20px;
  font-weight: 600;
  background-color: #d1c8c1;
  border: 2px solid black;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100px;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 50px;
}

#end-thanks{
  background-color: #252344;
  padding-left: 170px;
  padding-right: 170px;
  font-size: 28px;
  font-weight: bolder;
}